body {font-family: tahoma;}

div#drop_area {	width: 469px; height: 183px;
				border: 0px;
				border-right: 1px;
				border-bottom: 1px;
				border-style: solid;
				border-color: #9499db;
				float: left; 
				background-repeat: no-repeat; background-position: -1px -1px;
				position: absolute; left: 460px; top: 125px;
			  }

div#drop_area div.grid {border: 0px; border-top: 1px; border-left: 1px; border-color: #9499db; border-style: solid; 
						float: left; width: 25px; height: 25px; position: relative;}

div#drop_area > img 	{width: 512px; position: absolute; top: 2px; left: -2px;}

div#dice_pool			{ position: absolute; top: 370px; left: 431px; 
						  border: 1px solid black; background: silver;
						}

#dice_pool td 			{ width: 80px; border: 1px solid grey; }
#dice_pool td.dice		{ width: 40px; border: 0px;}

div#local_ability_pool	{ position: absolute; top: 370px; left: 703px; 
						  border: 1px solid black; background: silver;
						  min-width: 50px; height: 50px; 
						}

div#global_ability_pool	{ position: absolute; top: 435px; left: 431px; 
						  border: 1px solid black; background: silver;
						  min-width: 50px; height: 50px; 
						}

#fullbg					{position: absolute; top: 100px; left: 431px; width: 512px;}


div#scroll_list			{overflow: auto; height: 400px; width: 400px; float: left;}

ul#figure_list			{ padding: 0px; margin: 0px;}
ul#figure_list li		{ border: 1px solid black; width: 380px; background: silver; 
						  list-style: none; padding: 0px; margin: 0px;
					    }

ul#figure_list li:after, 
header:after 
			{	content: ".";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;
			}

ul#figure_list > li > p			{margin: 0px; padding: 0px; display: block;}
ul#figure_list > li table 		{width: 100%;}
ul#figure_list > li table td	{width: 12.5%;}

.dice { background-repeat:no-repeat;
		background-position: 0px -10px;
		opacity: 0.2;
	  }

.red 	{	background-image: url('res/attributes/red.png');	}
.white 	{	background-image: url('res/attributes/white.png');	}
.blue 	{	background-image: url('res/attributes/blue.png');	}
.move 	{	background-image: url('res/attributes/move.png');	}

.ability{ background-repeat:no-repeat;
		  background-position: 0px -15px;
		  opacity: 0.2;
		}

.base_id	{	display: inline; width: 110px; height: 20px;
				background-repeat:no-repeat;
				background-position: 0px -30px;
				padding-left: 40px; color: #ffffdd; font-weight: bold;
			}

.mercenary 	{	background-image: url('res/insignia/mercenary.png');}
.han 		{	background-image: url('res/insignia/han.png');		}
.roman 		{	background-image: url('res/insignia/roman.png');	}
.egyptian 	{	background-image: url('res/insignia/egyptian.png');	}

#drop_area .base {/*width: 40px; height: 60px; */position: absolute; float: left;}
.base > span {	position: absolute; left: -5px; top: 20px; background: #ffffdd; font-size: 60%;
				-webkit-transform: rotate(90deg); -moz-transform: rotate(90deg);
			 }
.base > div.smalldice {position: absolute; left: 15px; top: -10px; width: 10px}
.base > div.smalldice > img {width: 20px; margin-right: -5px; padding: 0px;}

.base > div.smallla {position: relative; left: 15px; top: -10px; width: 0px;}
.base > div.smallla > img {width: 35px;}

.name {width: 290px; display: inline; margin-left: 10px; font-weight: bold; font-size: 120%;}